@model Book

<div class="card shadow border-0 mt-4 mb-4">
    <div class="card-body">
        <div class="text-container">
            <img src="~/@Model.PDFUrl" width="100%" class="rounded" />
        </div>
    </div>
</div>
