@model List<Book>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row pb-3">
    @foreach (var book in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <a asp-action="FormBook" asp-route-bookID="@book.BookId">
                        <img src="@book.ImageUrl" class="card-img-top rounded">
                        <div class="p-lg-1">
                            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@book.Name</p>
                            <p class="card-title text-warning text-center">by <b>@book.Author</b></p>
                        </div>
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    }
</div>